html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#box{
	height: 164px;
	width: 250px;
	border: 1px solid #ccc;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
#uls{
	position: absolute;
}
#uls li{
	float: left;
	height: 164px;
	width: 250px;
}
#ols{
	position: absolute;
	bottom: 20px;
	left: 40px;

}
#ols li{
	float: left;
	margin-right: 15px;
	height: 20px;
	width: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	text-align: center;
	border-radius: 10px;
	background: #ccc;
}
#prev{
	width: 20px;
	height: 30px;
	cursor:pointer;
	position: absolute;
	left:0px;
	bottom:50px;
	z-index: 999999;
}
#next{
	width: 20px;
	height: 30px;
	position: absolute;
	right: 0px;
	bottom:50px;
	cursor: pointer;
}
#ols .bg{
	background: #000;
}