*{
	margin:0;
	padding:0;
}
.wrap{
	margin-left:30px;
}
.uls li{
	line-height: 30px;
}
.uls button{
	margin-left: 10px;
}
.mark{
	position: absolute;
	width: 100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}
.dialog{
	width:300px;
	height:400px;
	position: absolute;
	left:550px;
	bottom:-400px;
}
.del{
	position: absolute;
	right:0;
	top:0;
	width:20px;
	height:20px;
	font-size: 20px;
}
.dialog img{
	width: 100%;
	height:100%;
}
